@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  
  min-height: 100vh;
  /*text-align: center;
  display: flex;
  
  align-items: center;
  justify-content: center; */
  background-image: linear-gradient(79deg, #fdfdf4, #8f9de5 48%, rgba(219, 189, 230, 0.4) )
}


.email {
  color: white;

}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background: #8758ff;
  justify-content: center;
  align-items: center;
}

/*.App {
  text-align: center;
} */

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.reminderWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 70%;
}

.reminderForm {
  width: 100%;
}

.reminder-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;

}

.reminder-input::placeholder {
  color: #ffffff4d;
}

.reminder-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;

  
}

.reminders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  width: 50%;
  margin-right: auto;
  margin-left: auto;

}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
}

.font-link {
  font-family: 'Libre Baskerville', serif;
  color: darkblue;

}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}



/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/